#intro_page_title {
    color: white;
}

html {
    overflow-y: visible;
    scrollbar-width: thin;
    scrollbar-color: gray black;
}

a:link {
    text-decoration: none;
    color: white;

}

a:visited {
    color: white;
}

a:hover {
    color: rgb(161, 161, 161);
}

body {
    padding-bottom: 50px;
    
}

.card {
    width: 50vw;
    border: 5px solid #e1e1e1;
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    background-color: rgba(207, 206, 206, 0.098);
    margin-bottom: 2vh;
    max-height: 45vh;
    display: flex;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    animation: 1.3s ease-in-out 0s 1 FadeIn;
}

.card:hover{
    border: 5.5 solid white;
    box-shadow: 10px 20px 7px rgba(0, 0, 0, 0.493);
    transform: translateY(-.3vh);
}

.card:hover .project-info-container{
    top:0vh
}
.card:hover .project-name{
    margin-top: 3vh;
}

#projects_container{
    padding-bottom: 2vh;
}


#Deployment {
    color: black;
    border: 5px solid black;
    font-size: 2vh;
    margin-bottom: 50vw;
}

.project-name {
    transition: all 0.3s ease 0s;
    font-size: 5vh;
    overflow: hidden;
    margin-top: 0;
}

.project-image {
    height: 45vh;
    width: 50vw;
    animation: 1.3s ease-in-out 0s 1 FadeIn;
    z-index: 0;
}


.project-info-container {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000a8;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    height: 100%;
    color: white;
    font-size:2.5vh;
    transition: all 0.4s ease 0s;
    top: 37vh;
    animation: 1.3s ease-in-out 0s 1 FadeIn;
    justify-content: space-between;
}





.project-language {
    word-break: normal;
}
#back_button {
    position: fixed;
    padding: 10px;
    border: 4px solid black;
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


@media screen and (max-width: 800px) {
    body{
        overflow-x: hidden;
    }

    .card {
        width: 80vw;
        height: 45vh;
        animation: 1.3s ease-in-out 0s 1 FadeInMobile;
    }

    .project-image{
        height: 45vh;
        width: 80vw;
        animation: 1.3s ease-in-out 0s 1 FadeInMobile;
    }

    .project-info-container{
        top: 37vh;
        height: 100%;
        animation: 1.3s ease-in-out 0s 1 FadeInMobile;
    }


    #long-project-container{
        background-color: #000000a8;
        top:35vh;
    }

    #long-project-name{
        font-size: 8vw;
    }


    .project-name{
        font-size: 9vw;
    }

    .card:hover #long-project-container{
        top:0vh
    }
    .card:hover #long-project-name{
        margin-top: 3vh;
    }




    #back_button {
        background: rgba(255, 255, 255, 0.377);
        margin-top: 2vh;
        font-size: 15px;
    }

    #cursor {
        font-size: 55px;
    }
}

.Loading {
    margin: auto;
    left: 0;
    right: 0;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
    position: absolute;
    width: 180px;
    height: 180px;
    animation: spin 3.5s linear infinite;
}

#Wheel2{
    width:170px;
    height:170px;
}
#Wheel3{
    width:160px;
    height:160px;
}
#Wheel4{
    width:150px;
    height:150px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes FadeIn {
    0%{
        width: 0vw;
        height: 0vh;
        opacity: 0;
    }
    100%{
        width:50vw;
        height:45vh;
        opacity: 1;
    }
}

@keyframes FadeInMobile {
    0%{
        width: 0vw;
        height: 0vh;
        opacity: 0;
    }
    100%{
        width:80vw;
        height:45vh;
        opacity: 1;
    }
}

@keyframes FadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
